:host {
    height: 100%;

    > div {
        > * {
            flex: 1;
        }

        & > .actions, & > div:first-of-type {
            justify-content: flex-end;
        }

        > div:first-of-type {
            display: flex;
        }
    } 
}

