<div *ngIf="visible; then thenBlock; else elseBlock"></div>
<ng-template #thenBlock>
    <div class="flex-container row">
        <div>
            <!-- <ng-template let-items [ngTemplateOutletContext]="{ $implicit: mappings$ | async }" [ngTemplateOutlet]="t"
                #t>
                <div *ngFor="let item of items">
                    <mapping-selector [mappingPair]="item" (dismissEvent)="dismissChild($event)"></mapping-selector>
                </div>
                <div *ngIf="items?.length === 0">
                    <p>There is no content for this mapping yet!</p>
                </div>
                <div id="loadingContainer" *ngIf="items === null">
                    <div class="flex-container row">
                        <mat-spinner></mat-spinner>
                    </div>
                </div>
            </ng-template> -->
            <div *ngFor="let item of localMappings">
                <mapping-selector [mappingPair]="item" (dismissEvent)="dismissChild($event)"></mapping-selector>
            </div>
            <div *ngIf="localMappings?.length === 0">
                <p>There is no content for this mapping yet!</p>
            </div>
            <div id="loadingContainer" *ngIf="localMappings === null">
                <div class="flex-container row">
                    <mat-spinner></mat-spinner>
                </div>
            </div>
        </div>
        <div class="mat-elevation-z2 flex-container column">
            <h3>Confirmed mappings</h3>
            <div>
                <div *ngFor="let mapping of confirmedItems">
                {{ mapping.sourceTerm }} :: {{ mapping.mappingOptions[0] }}
                <mat-divider></mat-divider>
                </div>
            </div>
            <div class="actions flex-container row">
                <button mat-raised-button color="primary" (click)="finalizeChoice()">Generate annotations</button>
            </div>
        </div>
    </div>
</ng-template>
<ng-template #elseBlock>
    <div>
        <h2>No mapping has been selected yet</h2>
    </div>
</ng-template>