<div class="flex-container row mat-elevation-z2" *ngIf="showSelector">
    <div class="flex-container row">
        <div class="mapping-source">{{ mappingPair.sourceTerm }}</div>
        <mat-divider [vertical]="true"></mat-divider>
        <form [formGroup]="selector_form" class="mapping-result">
            <mat-radio-group class="flex-container column" formControlName="mapping_options" (change)="onRadioChange($event)">
                <mat-radio-button *ngFor="let term of mappingPair.mappingOptions" [value]="term">
                    {{ term }}
                </mat-radio-button>
                <mat-radio-button value="other" name="custom_entry">
                    <mat-form-field>
                      <input matInput placeholder="Other" 
                      (change)="mappingOption($event)"
                      >
                    </mat-form-field>
                </mat-radio-button>
            </mat-radio-group>
        </form>
    </div>
    <div class="flex-container row">
        <button mat-button (click)="deleteMapping()">Delete</button>
        <button mat-raised-button (click)="confirmMapping()" [disabled]="isValid()" color="primary">Confirm</button>
    </div>
</div>
