<mat-horizontal-stepper #stepper class="mat-elevation-z2" (selectionChange)="selectionChange($event)">
    <mat-step [stepControl]="optionalFormGroup" optional>
        <ng-template matStepLabel>Upload a file</ng-template>
        <p>Upload a file to the server</p>
        <div>
            <file-upload></file-upload>
            <button mat-button matStepperNext>Next</button>
        </div>
    </mat-step>
    <mat-step #source_file_select [stepControl]="sourceFormGroup" errorMessage="A file is required.">
        <form [formGroup]="sourceFormGroup">
            <ng-template matStepLabel>Select a source xsd file</ng-template>
            <mat-label>
                <p>Please select an xsd file</p>
                <p>If you cannot find your file here try uploading one.</p>
            </mat-label>
            <mat-radio-group class="flex-container column"
                 formControlName="sourceFileControl" required>
                <mat-radio-button *ngFor="let file of sourceFiles$ | async" [value]="file">
                    {{ file }}
                </mat-radio-button>
            </mat-radio-group>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step #target_file_select [stepControl]="targetFormGroup" errorMessage="A file is required.">
        <form [formGroup]="targetFormGroup">
            <ng-template matStepLabel>Select an ontology file</ng-template>
            <mat-label>
                <p>Please select an ontology file</p>
                <p>If you cannot find your file here try uploading one.</p>
            </mat-label>
            <mat-radio-group class="flex-container column"
                 formControlName="targetFileControl" required>
                <mat-radio-button *ngFor="let file of targetFiles$ | async" [value]="file">
                    {{ file }}
                </mat-radio-button>
            </mat-radio-group>
            <div>
                <button mat-button matStepperNext>Next</button>
            </div>
        </form>
    </mat-step>
    <mat-step>
        <ng-template matStepLabel>Generate mapping</ng-template>
        <p>Use selected file to start the mapping process</p>
        <div>
            <button mat-raised-button (click)="startMapping()">Create map</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>